
.toastify {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items:  center;
	color: #ffffff;
	box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
	background: linear-gradient(135deg, #73a5ff, #5477f5);
	position: fixed;
	opacity: 0;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	border-radius: 2px;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	max-width: 320px;
	z-index: 10051;
	&.primary {
		background: linear-gradient(135deg, var(--primary), var(--primary-dark));
	}
	&.secondary {
		background: linear-gradient(135deg, var(--secondary), var(--secondary-dark));
	}
	&.success {
		background: linear-gradient(135deg, var(--success), var(--success-dark));
	}
	&.danger {
		background: linear-gradient(135deg, var(--danger), var(--danger-light));
	}
	&.warning{
		background: linear-gradient(135deg, var(--warning), var(--yellow));
	}
	&.info{
		background: linear-gradient(135deg, var(--info), var(--info-light));
	}
	&.on {
		opacity: 1;
	}
	&.toastify-right {
		right: 15px;
	}
	 
	&.toastify-left {
		left: 15px;
	}
	 
	&.toastify-top {
		top: -150px;
	}
	 
	&.toastify-bottom {
		bottom: -150px;
	}
	&.toastify-center {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		max-width: -moz-fit-content;
		max-width: -webkit-fit-content;
		max-width: fit-content;
	 }
	 
	&.toastify-rounded {
		border-radius: 25px;
	}
}
 
.toast-close {
	opacity: 0.4;
	padding: 0 5px;
}
 
.toastify-avatar {
	width: 1.5em;
	height: 1.5em;
	margin: -7px 5px;
	border-radius: 2px;
}
 

 

 @media only screen and (max-width: 360px){
	 .toastify-right,.toastify-left{
		 margin-left:auto;
		 margin-right:auto;
		 left:0;
		 right:0;
		 max-width: -moz-fit-content;
		 max-width: -webkit-fit-content;
		 max-width:fit-content;
	}
}